:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-size: 2rem;
}

.countries-list {
  margin: 0;
  padding: 0;

  &__element {
    list-style-type: none;
    font-size: var(--font-size);
    cursor: pointer;

    &:hover {
      background-color: #a0c49d;
    }
  }

  &__element--active {
    background-color: #a0c49d;
  }
}

.country {
  width: 40rem;
  padding: 1rem;
  background-color: white;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  box-shadow: 0px 1px 5px 1px #00000091;

  &__flag {
    width: 100%;

    img {
      width: 100%;
      height: auto;
      border: 2px solid black;
    }
  }

  &__next_btn {
    padding: 1rem;
    font-size: 1.2rem;
  }

  &__prev_btn {
    padding: 1rem;
    font-size: 1.2rem;
  }
}
